@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  @font-face {
    font-family: 'SUITE Variable';
    font-weight: 300 900;
    src: url('/assets/SUITE-Variable.woff2') format('woff2-variations');
  }
}
